@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-image: url("img/cute-bg.jpg");
    background-color: #cccccc;
    margin: 0;
    padding:  0px;
}

.verse{
    position: fixed;
    top: 294px;
    left: 377px;
    line-height: 150%;

}

h3{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 220px;
    margin: 0px;
    left: 550px;
    letter-spacing: 3;

}

p{
    font-family: 'Press Start 2P', cursive;
    font-size: 0.95rem;
}

.xoxo{
    position: fixed;
    font-size: 0.95rem;
    right: 370px;
    top: 600px;

}

.dont-1{
    display: none;
    color: red;
}

.dont-2{
    display: none;
    color: red;
}

.dont-3{
    display: none;
    color: red;
}

.word{
    text-decoration: underline;
}


input{
    font-family: 'Press Start 2P', cursive;
    font-size: 0.95rem;
    border-width:0px;
    border:none;
    border-bottom: 1;
    outline:none;
    text-decoration: none;

}

#fname{
    width: auto;
    text-decoration: none;

}


.a-pop-ups :nth-child(1){
    position: fixed;
    top: 180px;
    left: 120px;
    display: none;
 
}
.a-pop-ups :nth-child(2){
    position: fixed;
    top: 210px;
    left: 90px;
    display: none;
 
}
.a-pop-ups :nth-child(3){
    position: fixed;
    top: 240px;
    left: 60px;
    display: none;
 
}
.a-pop-ups :nth-child(4){
    position: fixed;
    top: 270px;
    left: 30px;
    display: none;
 
}


.e-pop-ups :nth-child(1){
    position: fixed;
    top: 240px;
    right: 90px;
    display: none;
 
}
.e-pop-ups :nth-child(2){
    position: fixed;
    top: 270px;
    right: 130px;
    display: none;
 
}
.e-pop-ups :nth-child(3){
    position: fixed;
    top: 300px;
    right: 100px;
    display: none;
 
}
.e-pop-ups :nth-child(4){
    position: fixed;
    top: 330px;
    right: 140px;
    display: none;
 
}


.i-pop-ups :nth-child(1){
    position: fixed;
    top: 560px;
    right: 100px;
    display: none;
 
}

.i-pop-ups :nth-child(2){
    position: fixed;
    top: 590px;
    right: 140px;
    display: none;
 
}
.i-pop-ups :nth-child(3){
    position: fixed;
    top: 380px;
    left: 100px;
    display: none;
 
}
.i-pop-ups :nth-child(4){
    position: fixed;
    top: 410px;
    left: 140px;
    display: none;
 
}

.o-pop-ups :nth-child(1){
    position: fixed;
    top: 445px;
    right: 220px;
    display: none;
}

.o-pop-ups :nth-child(2){
    position: fixed;
    top: 550px;
    left: 290px;
    display: none;
 
}
.o-pop-ups :nth-child(3){
    position: fixed;
    top: 380px;
    left: 100px;
    display: none;
 
}
.o-pop-ups :nth-child(4){
    position: fixed;
    top: 410px;
    left: 140px;
    display: none;
 
}
