@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-image: url("img/cute-bg.jpg");
    background-color: #cccccc;
    margin: 0;
    padding:  0px;
}

.verse{
    position: fixed;
    top: 294px;
    left: 377px;
    line-height: 150%;

}

h3{
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 220px;
    margin: 0px;
    left: 550px;
    letter-spacing: 3;
}

.line{
    display: none;
}

.line-1{
    position: absolute;
    width: 4px;
    height: 100px;
    left: 590px;
    top: 180px;

    background: #CC0000;
    transform: rotate(-45deg);

}

.line-2{
    position: absolute;
    width: 4px;
    height: 100px;
    left: 590px;
    top: 180px;

    background: #CC0000;
    transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
}

p{
    font-family: 'Press Start 2P', cursive;
    font-size: 0.95rem;
}

.xoxo{
    position: fixed;
    font-size: 0.95rem;
    right: 470px;
    top: 600px;

}

.dont-1{
    display: none;
    color: red;
}

.dont-2{
    display: none;
    color: red;
}

.dont-3{
    display: none;
    color: red;
}

.word{
    text-decoration: underline;
}


input{
    font-family: 'Press Start 2P', cursive;
    font-size: 0.95rem;
    border-width:0px;
    border:none;
    border-bottom: 1;
    outline:none;
    text-decoration: none;

}

#fname{
    width: auto;
    text-decoration: none;

}

.a-children{
    display:none;
}


.a-pop-ups :nth-child(1){
    position: fixed;
    left: 62px;
    top: 200px;
    z-index: 1;

 
}
.a-pop-ups :nth-child(2){
    position: fixed;
    left: 1029px;
    top: 442px;
    z-index: 2;

 
}
.a-pop-ups :nth-child(3){
    position: fixed;
    left: 749px;
    top: 502px;
    z-index: 3;

 
}
.a-pop-ups :nth-child(4){
    position: fixed;
    left: 879px;
    top: 559px; 
    z-index: 4;

}

.e-children{
    display:none;
}

.e-pop-ups :nth-child(1){
    position: fixed;
    left: 772px;
    top: 160px;
    z-index: 1;
 
}
.e-pop-ups :nth-child(2){
    position: fixed;
    left: 816px;
    top: 403px;
    z-index: 2;

 
}
.e-pop-ups :nth-child(3){
    position: fixed;
    left: 966px;
    top: 346px;
    z-index: 3;

 
}
.e-pop-ups :nth-child(4){
    position: fixed;
    left: 4px;
    top: 284px;
    z-index: 4;

 
}

.i-children{
    display:none;
}

.i-pop-ups :nth-child(1){
    position: fixed;
    left: 131px;
    top: 327px;
    z-index: 1;
 
}

.i-pop-ups :nth-child(2){
    position: fixed;
    left: 1016px;
    top: 282px;
    z-index: 2;

}
.i-pop-ups :nth-child(3){
    position: fixed;
    left: 49px;
    top: 399px;
    z-index: 3;

 
}
.i-pop-ups :nth-child(4){
    position: fixed;
    left: 224px;
    top: 126px;
    z-index: 4;
    display: none;
 
}

.o-children{
    display:none;
}


.o-pop-ups :nth-child(1){
    position: fixed;
    left: 84px;
    top: 516px;
    z-index: 1;

}

.o-pop-ups :nth-child(2){
    position: fixed;
    left: 178px;
    top: 556px;
    z-index: 2;

 
}
.o-pop-ups :nth-child(3){
    position: fixed;
    left: 894px;
    top: 231px;
    z-index: 3;

 
}
.o-pop-ups :nth-child(4){
    position: fixed;
    left: 15px;
    top: 580px; 
    z-index: 4;

 
}

.u-children{
    display:none;
}


.u-pop-ups :nth-child(1){
    position: fixed;
    left: 1011px;
    top: 535px;
    z-index: 1;

}

.u-pop-ups :nth-child(2){
    position: fixed;
    left: 42px;
    top: 64px;
    z-index: 2;

 
}
.u-pop-ups :nth-child(3){
    position: fixed;
    left: 1011px;
    top: 110px;
    z-index: 3;

 
}
.u-pop-ups :nth-child(4){
    position: fixed;
    left: 749px;
    top: 315px;
    z-index: 4;

 
}
