@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 1920px) 
  and (orientation: portrait) {

}

body{
  margin: 0;
}

.raven{
  height: 355px;
  width: 100%;
  background-color: #1a1009;
  top: 0;
  
}

svg{
  left: -20px;
}

.content{
  position: fixed;
  height: 355px;
  width: 100%;
  top: 355px;

}

.book{
  position: relative;
  width: 414px;
  height: 476px;
  background-color: #F5EEE1;
  bottom: 0px;
  
}


.right-panel{
  position: relative;
  width: 374px;
  height: 476px;
  background-color: #F5EEE1;
  right: 0px;
  bottom: 0px;
  
}

.right-panel .book-gradient{
  z-index: 0;
  position: fixed;
  width: 33px;
  height: 476px;
  left: 42px;
  background: linear-gradient(90deg, #DFD8CB 0%, rgba(229, 221, 206, 0) 100%);
}

h2{
  position: relative;
  font-family: 'IM Fell English SC', serif;
  font-size: 0.95em;
  font-weight: bolder;
  top: 53px;
  left: 185px;
  margin-top: 2px;
  margin-bottom: 2px;
  z-index: 1;
}

h1{
  position: relative;
  font-family: 'IM Fell English SC', serif;
  top: 53px;
  left: 170px;
  font-size: 0.75em;
  font-style: italic;
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: lighter;
  z-index: 1; 
}

.poem{
  position: relative;
  padding: 50px;
  top: 40px;
  right: -53px;
  left: auto;
  z-index: 0;
}

p{
  font-family: 'IM Fell English', serif;
  color: rgb(19, 13, 13);
  font-weight: lighter;
  font-size: 0.75em;
  line-height: 158%;
  letter-spacing: 0.02em;
  
}

.left-panel{
  position: relative;
  width: 40px;
  height: 531px;
  left: -21px;
  top: 476px;
}


.left-panel .book-gradient{
  z-index: 0;
  position: fixed;
  width: 33px;
  height: 476px;
  top: 358px;
  left: 9px;
  background: linear-gradient(90deg, #DFD8CB 0%, rgba(232, 226, 215, 0) 100%);
  transform: rotate(-180deg);
}
