@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=IM+Fell+Great+Primer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

body{
  background: #090909 0%,);
}

p{
  margin: 0;
  color: #9E9393;
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: 16px;
  line-height: 28px;
  align-items: center;
  text-align: center;

}
