@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@200&family=Ultra&display=swap');

body{
    background-color: pink;
    background-image: url(img/backgroundimg.jpg);
    background-size: contain;
}

header{
    height: 14%;
    width: 75%;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    height: 60%;
    width: 100%;

    text-align: center;
}

.menu{
    height: 40%;
    width: 100%;
    background-color:aliceblue;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: bold;
    color:black
    
}

#myDiv{
    display: none;
}

.menu-box{
    padding-top: 10px;
    width: 15%
}

.parent { 
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
    grid-column-gap: 3px;
    grid-row-gap: 3px; 

    height: 86%;
    width: 75%;
    
    justify-content: center;
    margin: auto;
}

.div1 {
    grid-area: 1 / 1 / 4 / 5; 
    background-color: black;
} 

.div1>img{
    object-fit: scale-down;
    width: 100%;
    max-height: 100%;
}

.img{
    object-fit: cover;
    width: 100%;

}

.div2 {
    grid-area: 4 / 1 / 5 / 5;
    background-color:white;
    padding: 10px;
}

.div3 {
    grid-area: 1 / 5 / 2 / 6; 
    background-color:white;
    padding: 8px;
    
} 

button{
    padding:8px;
    border: 5px;
    background-color: #f5eaea;
    border-radius: 18px;
    margin-left: 50px;
    border: 2px solid #9E9393;
}

p{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: left;
    color: #9E9393;
}

.div4 {
    grid-area: 2 / 5 / 3 / 6; 
    background-color:blanchedalmond;
    padding: 5px;
} 

.div5 {
    grid-area: 3 / 5 / 4 / 6;
    background-color:darkorange;
    padding: 8px;
} 

.div6 {
    grid-area: 4 / 5 / 5 / 6;
    background-color: fuchsia;
    padding: 8px;
} 

.div7 {
    grid-area: 5 / 5 / 6 / 6; 
    background-color: forestgreen;
    padding: 8px;
}

.div8 {
    grid-area: 5 / 1 / 6 / 3;
    background-color:white;
    padding: 8px;
    
} 

.div9 {
    grid-area: 5 / 3 / 6 / 5; 
    background-color:white;
    padding: 8px;
} 

h2{
    font-family: 'Ultra', serif;
    font-size: 1.8rem;
    letter-spacing: -0.6;
    margin: 0;
    line-height: 1;
}

h3{
    font-family: 'Ultra', serif;
    font-size: 2rem;
    letter-spacing: -0.6;
    padding-top: 10px;
    color: rgb(255, 227, 227);
}

h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px; 
    margin-bottom: 5px;
}

h6{
    font-family: 'Smooch Sans', sans-serif;
    font-size: medium;
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(206, 35, 80);
    font-weight: 600;
}

.div2 h6{
    font-family: 'Smooch Sans', sans-serif;
    font-size:larger;
    margin-top: 2px;
    margin-bottom: 2px;
}

.div9 h5{
    font-size: 1rem;
}

.div8 h5{
    font-size: 1rem;

}

#myDIV p{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 1rem;
    margin-bottom: 5px;
    margin-top: 0px;
    text-align: left;
    color: #a00000;
}