@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&family=IM+Fell+Great+Primer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap");

/* DONT TOUCH */

html {
  padding: 0;
  margin: 0;
}

.tap-area {
  display: block;
  min-height: 100vh;
  text-decoration: none;
}

body {
  background: linear-gradient(180deg, #090909 0%, #1a1a1a 100%);
  margin-left: 24px;
  margin-right: 24px;
  overflow: hidden;
}

#container {
  display: flex; /* establish flex container */
  flex-direction: column; /* stack flex items vertically */
  justify-content: center; /* center items vertically, in this case */ /* center items horizontally, in this case */
}

p {
  margin: 0;
  color: #9e9393;
  font-family: "IM Fell Great Primer SC", serif;
  font-size: 18px;
  line-height: 28px;
  align-items: center;
  text-align: center;
}

h4 {
  color: #e9dddd;
  font-family: "IM FELL English", serif;
  font-size: 22px;
  line-height: 37px;
  letter-spacing: 0.02em;
  text-align: left;
  font-weight: normal;
  left: 0;
  margin: 0;
  padding: 0;
}

#verse1 .narration {
  padding-top: 263px;
}

#verse2 .narration {
  padding-top: 24px;
}

#verse3 .narration {
  padding-top: 24px;
}

#verse4 .narration {
  padding-top: 200px;
}

#verse5 .dialogue {
  padding-top: 28px;
}

#verse6 .narration {
  padding-top: 28px;
}

#verse7 .dialogue {
  padding-top: 28px;
}

#verse7 .dialogue h4 {
  text-align: right;
}

#verse8 .narration {
  padding-top: 28px;
}

.fade-in {
  animation: fade-in-text  0.5s ease-in;
}

@keyframes fade-in-text {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
