@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

body {
    margin: 0;
    background-image: url(img/test-bg.jpg);
    font-family: "Racing Sans One", cursive;
}

header{
    height: 175px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.78) 75.29%, rgba(255, 255, 255, 0) 100%);
    
} 

.logo img {
    position: absolute;
    z-index: 99;
    margin-top: 30px;
    margin-left: 30px;
    width: 18%;
}

img {
    object-fit: contain;
    width: 100%;
}

h3 {
    padding-top: 50px;
    margin: 0;
    font-size: 1.7rem;
    text-align: center;
    text-decoration: none;
  
}

.filter-panel{
    margin-left: 4%;
    height: 800px;
    width: 16%;
    position: absolute;
    background-color: #FFFFFF;
}

.content{
    right: 0;
    width: 80%;
    position: absolute;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.manga{
    background-color: rgb(255, 255, 255);
    width: 220px;
    height: 360px;
    margin-left: 0;
    margin-right: 0;
}

.cover-container{
    width:160px;
    height: 210px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.manga img{
    width:160px;
    height: 210px;
    object-fit:contain;

}

h4{
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 1.1em;
    text-align: center;

}

h5{
    margin: 5px;
    font-size: 0.9em;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

h6{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 0.9em;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

h2{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 0.9em;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.dropbtn {
    background-color: #4eff54;
    color: #1e4d20;
    padding: 5px;
    font-size: 1rem;
    height: 30px;
    width: 110px;
    border: none;
    cursor: pointer;
    font-family: "Racing Sans One", cursive;
}
  
.dropdown {
    position: absolute;
    display: inline-block;
    right: 80px;
    top: 60px;

}
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}