body {
  margin: 0;
}

.landing-page {
  width: 100%;
}

img {
  object-fit: contain;
  width: 100%;
}

.button {
  position: absolute;
  top: 2440px;
  left: 570px;
}

.button img {
  width: 75%;
}

.logo img {
  position: absolute;
  z-index: 99;
  margin-top: 30px;
  margin-left: 30px;
  width: 18%;
}

.jump-button{
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 30px;
  right: 30px;
}

.bottom{
  bottom: 0px;
}