@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.background-img img {
  position: absolute;
  max-width: 100%;
  z-index: -5;
  top: 0;
  background-repeat: no-repeat;
  object-fit: cover;
}

.grid-boxes {
  position: relative;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

.img-grids {
  position: relative;
  width: 60%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.img-item {
  border: 2px solid rgb(0, 0, 0);
}

.img-item img {
  object-fit: fill;
  width: 100%;
  overflow: contain;
  z-index: 2;
}

.btn-panels {
  height: 30%;
  position: absolute;
  width: 100%;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.377),
    rgba(255, 255, 255, 0.809),
    rgb(255, 255, 255)
  );
}

.question {
  width: 75%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
}

.btn-grids {
  position: relative;
  width: 60%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(img/grey-btn.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn:nth-child(1):hover {
  background-image: url(img/pink-hover.png);
}

.btn:nth-child(2):hover {
  background-image: url(img/blue-hover.png);
}

.btn:nth-child(3):hover {
  background-image: url(img/ylw-hover.png);
}

.btn:nth-child(4):hover {
  background-image: url(img/green-hover.png);
}

/*.btn-item img {
  max-width: 90%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.btn-item img:nth-child(1) {
  background-image: url(img/grey-btn.png) no-repeat;
  width: 130px;
  height: 195px;
}

.btn-item img:nth-child(1) :hover {
  background: url("img/pink-hover.png") no-repeat;
}*/

p {
  margin: 0;
  font-family: "Racing Sans One", cursive;
  font-size: 1.7rem;
  text-align: center;
}
