@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.background-img img {
  position: absolute;
  max-width: 100%;
  z-index: -5;
  top: 0;
  background-repeat: no-repeat;
  object-fit: cover;
}

.grid-boxes {
  position: fixed;
  height: 75%;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
}

.img-grids {
  position: relative;
  width: 70%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.img-item {
  border: 2px solid rgb(0, 0, 0);
}

.img-item img {
  object-fit: fill;
  width: 100%;
  overflow: contain;
  z-index: 2;
}

.btn-panels {
  height: 30%;
  position: absolute;
  width: 100%;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.377),
    rgba(255, 255, 255, 0.809),
    rgb(255, 255, 255)
  );
}

.question {
  width: 75%;
  height: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.btn-grids {
  position: relative;
  width: 60%;
  height: 40%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: auto;
  margin-right: auto;
}

.btn-1 {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(img/grey-btn.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-1:hover {
  background-image: url(img/pink-hover.png);
}

.top-pink-lit {
  position: fixed;
  height: 471.719px;
  width: 188px;
  z-index: 99;
  top: 0;
  background-color: #a523a7;
  mix-blend-mode: overlay;

  display: none;
}

.top-pink-lit-border {
  position: fixed;
  height: 471.719px;
  width: 188px;
  z-index: 100;
  top: 0;
  border: 3px;
  border-color: #c837cb;
  background: none;

  display: none;
}

.btn-1:hover .top-pink-lit {
  display: block;
}

.btn-1:hover .top-pink-lit-border {
  display: block;
}

.btn-2 {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(img/grey-btn.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-2:hover {
  background-image: url(img/blue-hover.png);
}

.top-blue-lit {
  position: fixed;
  height: 471.719px;
  width: 188px;
  z-index: 99;
  top: 0;
  background-color: #3aa1c0;
  mix-blend-mode: overlay;

  display: none;
}

.btn-2:hover .top-blue-lit {
  display: block;
}

.btn-3 {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(img/grey-btn.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-3:hover {
  background-image: url(img/yellow-hover.png);
}

.top-yellow-lit {
  position: fixed;
  height: 471.719px;
  width: 188px;
  z-index: 99;
  top: 0;
  background-color: #adaf1e;
  mix-blend-mode: overlay;

  display: none;
}

.btn-3:hover .top-yellow-lit {
  display: block;
}

.btn-4 {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(img/grey-btn.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-4:hover {
  background-image: url(img/green-hover.png);
}

.top-green-lit {
  position: fixed;
  height: 471.719px;
  width: 188px;
  z-index: 99;
  top: 0;
  background-color: #488716;
  mix-blend-mode: overlay;

  display: none;
}

.btn-4:hover .top-green-lit {
  display: block;
}

p {
  margin: 0;
  font-family: "Racing Sans One", cursive;
  font-size: 1.7rem;
  text-align: center;
  text-decoration: none;
}

.btn-item p {
  margin-top: 12.5%;
  font-family: "Racing Sans One", cursive;
  font-size: 1.3rem;
  text-align: center;
}

.logo img {
  position: absolute;
  z-index: 99;
  margin-top: 30px;
  margin-left: 30px;
  width: 18%;
}

a {
  text-decoration: none;
  color: black;
}
