@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=IM+Fell+Great+Primer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

html {padding:0; margin:0;}

body{
    background: linear-gradient(180deg, #090909 0%,#1a1a1a 100%);
    margin-left: 24px;
    margin-right: 24px;
}

#container{
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */     /* center items horizontally, in this case */
    
}

.narration{
    padding-top: 224px;
}

.dialogue{
    padding-top: 185px;
}

p{
  margin: 0;
  color: #9E9393;
  font-family: 'IM Fell Great Primer SC', serif;
  font-size: 18px;
  line-height: 28px;
  align-items: center;
  text-align: center;

}

#verse4 p{
    text-align: left;
}

#verse5 p{
    text-align: left;
}

h2{
    margin: 0;
    color: #9E9393;
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 26px;
    line-height: 32px;
    position: absolute;
}



h4{
    color: #E9DDDD;
    font-family: 'IM FELL English', serif;
    font-size: 22px;
    line-height: 37px;
    letter-spacing: 0.02em;
    text-align: left;
    left: 0;
    padding-top: 167px;
    padding-left: 24px;
}

h5{
    margin: 0;
    color: #9E9393;
    font-family: 'IM Fell Great Primer SC', serif;
    font-size: 22px;
    line-height: 28px;
    align-items: center;
    text-align: center;
}

.verse{
    position: inherit;
    margin-bottom: 54px;
   
}



h4{
    padding-top: 167px;

}

#verse5{
    margin-top: 150px;
}

ul{
    list-style-type:none;
}

ul:nth-child(1){
    color: #9E9393;
}

ul:nth-child(2){
    color: #9e939336 75%;
}