@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&family=IM+Fell+Great+Primer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap");

html {
  padding: 0;
  margin: 0;
}

.tap-area {
  display: block;
  min-height: 100vh;
  text-decoration: none;
}

body {
  background: linear-gradient(180deg, #090909 0%, #1a1a1a 100%);
  margin-left: 24px;
  margin-right: 24px;
  overflow: hidden;
}

#container {
  display: flex; /* establish flex container */
  flex-direction: column; /* stack flex items vertically */
  justify-content: center; /* center items vertically, in this case */ /* center items horizontally, in this case */
}

.narration {
  padding-top: 224px;
}

.dialogue {
  padding-top: 185px;
}

p {
  margin: 0;
  color: #9e9393;
  font-family: "IM Fell Great Primer SC", serif;
  font-size: 18px;
  line-height: 28px;
  align-items: center;
  text-align: center;
}

#verse4 p {
  text-align: left;
}

#verse5 p {
  text-align: left;
}

h2 {
  margin: 0;
  color: #9e9393;
  font-family: "IM Fell Great Primer SC", serif;
  font-size: 26px;
  line-height: 32px;
  position: absolute;
}

h4 {
  color: #e9dddd;
  font-family: "IM FELL English", serif;
  font-size: 22px;
  line-height: 37px;
  letter-spacing: 0.02em;
  text-align: left;
  left: 0;
  padding-top: 167px;
  padding-left: 24px;
  font-weight: normal;
}

h5 {
  margin: 0;
  color: #9e9393;
  font-family: "IM Fell Great Primer SC", serif;
  font-size: 22px;
  line-height: 28px;
  align-items: center;
  text-align: center;
}

.verse {
  position: inherit;
  margin-bottom: 28px;
}

h4 {
  padding-top: 167px;
}

#verse5 {
  margin-top: 150px;
}

.lenore-top {
  position: fixed;
  color: #d8c4c436;
  font-family: "IM Fell Great Primer SC", serif;
  font-size: 26px;
  line-height: 32px;
}

.lenore-bottom {
  color: #d8c4c436;
  font-family: "IM Fell Great Primer SC", serif;
  font-size: 26px;
  line-height: 32px;
  position: fixed;
  top: 200px;
}

.lenore1 {
  opacity: 100%;
  position: inherit;
  top: 225px;
  left: 136px;
  animation: fade-in-text 2s ease-in;
}

.lenore2 {
  position: inherit;
  opacity: 75%;
  top: 254px;
  left: 117px;
  animation: fade-in-text 2s ease-in;
}

.lenore3 {
  opacity: 50%;
  position: inherit;
  top: 285px;
  left: 136px;
  animation: fade-in-text 2s ease-in;
}

.lenore4 {
  position: inherit;
  opacity: 25%;
  top: 318px;
  left: 117px;
  animation: fade-in-text 2s ease-in;
}

.lenore5 {
  opacity: 100%;
  position: inherit;
  top: 431px;
  left: 168px;
  animation: fade-in-text 2s ease-in;
}

.lenore6 {
  opacity: 75%;
  position: inherit;
  top: 460px;
  left: 152px;
  animation: fade-in-text 2s ease-in;
}

.lenore7 {
  opacity: 50%;
  position: inherit;
  top: 493px;
  left: 168px;
  animation: fade-in-text 2s ease-in;
}

.lenore8 {
  opacity: 25%;
  position: inherit;
  top: 522px;
  left: 152px;
  animation: fade-in-text 2s ease-in;
}

.fade-in {
  animation: fade-in-text 0.5s ease-in;
}

@keyframes fade-in-text {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
