@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English&family=IM+Fell+Great+Primer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap");

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin-left: 24px;
  margin-right: 24px;
}

.tap-area {
  display: block;
  min-height: 100vh;
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(180deg, #090909 0%, #1a1a1a 100%);
  margin: 0px;
}

#container {
  display: flex; /* establish flex container */
  flex-direction: column; /* stack flex items vertically */
  justify-content: center; /* center items vertically, in this case */ /* center items horizontally, in this case */
}

.narration {
  padding-top: 210px;
}

.hide {
  opacity: 0;
  transition: 0.3s ease-in-out all;
}

p {
  margin: 0;
  color: #9e9393;
  font-family: "IM Fell Great Primer SC", serif;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}

h4 {
  color: #e9dddd;
  font-family: "IM FELL English", serif;
  font-size: 22px;
  line-height: 37px;
  letter-spacing: 0.02em;
  text-align: left;
  left: 0;
  padding: 0;
  margin: 0;
}

#verse1 {
}

#verse2 h4 {
  padding-top: 28px;
}

#verse3 h4 {
  padding-top: 102px;
}

#verse4 {
  padding-top: 210px;
}

#verse5 {
  padding-top: 35px;
}

#verse6 {
  z-index: 2;
  padding-top: 35px;
}

#verse6 span {
  color: #b10f0f;
  font-family: "IM FELL English", serif;
  font-size: 24px;
}

.fade-in {
  animation: fade-in-text 5s ease-in;
}

@keyframes fade-in-text {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
